


.screen {
    width: 100%;
    height: 250px;
    background-color: rgb(13, 9, 48);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.screen h2 {
    color: white;
    font-size: 70px;
    float: right;
    margin-top: 100px;
}